<a href="https://colab.research.google.com/github/oathbringerUUU/Udemy-Data-Science-Python/blob/master/02_Biblioteka_Pandas/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Podstawowe struktury danych: pd.Series**

In [2]:
import pandas as pd
pd.__version__

'1.0.5'

In [3]:
s = pd.Series(data=[3, 2, 4, 6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [5]:
s = pd.Series(data=[3, 2, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [6]:
s = pd.Series(data=[3., 2, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [7]:
import numpy as np

np.nan

nan

In [8]:
s = pd.Series(data=[3., np.nan, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [10]:
s = pd.Series(data=[True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [12]:
s = pd.Series(data=np.arange(10,20), index=pd.date_range(start='20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [13]:
s = pd.Series(data=['python', 'java', 'sql'], name='languages')
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [14]:
type(s)

pandas.core.series.Series

In [15]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [16]:
s.values

array(['python', 'java', 'sql'], dtype=object)

In [18]:
s.shape

(3,)

In [32]:
price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazon':1900, 'KGHM': np.nan})
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [20]:
price['CD Projekt']

60

In [21]:
price[1]

60

In [22]:
price.count()

3

In [34]:
price.value_counts(dropna=False)

NaN       1
1900.0    1
60.0      1
200.0     1
dtype: int64

In [25]:
price.sum()

2160

In [26]:
price.min()

60

In [27]:
price.max()

1900

In [28]:
price.std()

1024.3046421841502

In [33]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [36]:
price.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

In [37]:
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [38]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

In [41]:
price_pln = price.apply(lambda x: x * 3.8)
price_pln

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

## **Podstawowe struktury danych: pd.DataFrame**

In [43]:
df = pd.DataFrame(data=[12, 12, 32])
df

    0
0  12
1  12
2  32

In [44]:
df = pd.DataFrame(data=[12, 12, 32], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [45]:
df = pd.DataFrame(data={'WIG20': ['PKN ORLEN', 'PKO BP'],
                        'mWIG40': ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [46]:
df.columns

Index(['WIG20', 'mWIG40'], dtype='object')

In [47]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [48]:
df.values

array([['PKN ORLEN', 'Amica'],
       ['PKO BP', 'Playway']], dtype=object)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   WIG20   2 non-null      object
 1   mWIG40  2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes

In [51]:
df.describe().T

       count unique        top freq
WIG20      2      2  PKN ORLEN    1
mWIG40     2      2      Amica    1

## **Selekcja kolumn**

In [61]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [55]:
df[['col_1']]

        col_1
first      10
second     23

In [57]:
df.columns = ['a', 'b', 'c']
df

         a   b   c
first   10  12  13
second  23  12  10

In [58]:
df.b

first     12
second    12
Name: b, dtype: int64

In [60]:
df['d'] = df.a + df.c
df

         a   b   c   d
first   10  12  13  23
second  23  12  10  33

In [62]:
df.loc['first']

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [63]:
df.iloc[0]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [65]:
df.loc[:, 'col_2']

first     12
second    12
Name: col_2, dtype: int64